.naslov {
    margin-left: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0E1A2F;
    background-color: #9CC4B7;
    
    
    
    
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #0E1A2F;
    height: 100%;
}
nav ul li:hover {
    background-color: #2A61C5;
    color: white;
    
}
nav ul li {
    justify-content: space-around;
    padding: 10px;
    color: #0E1A2F;
    height: 100%;
}

.link {
    color: white;
    text-decoration: none;
}
.link:hover {
    text-decoration: none;
    
}